base:
    seed: &seed 42
model:
    type: Llava
    path: model path
    torch_dtype: auto
eval:
    eval_pos: [pretrain, transformed]
    type: vqa
    name: [mme]
    download: False
    path: MME dataset path
    bs: 1
    inference_per_block: False
sparse:
    method: TokenReduction
    special:
        method: DART
        pruning_loc: 2
        reduction_ratio: 0.778
        max_num_trunction: 128
        pivot_image_token: 4
        pivot_text_token : 4
save:
    save_trans: False
    save_fake: False
    save_path: /path/to/save/
